<%- include('partials/header.ejs') %>

  <div class="container">
    <div class="writing-container">
      <div class="writing-section">
        <div class="writing-detail">
          <p class="writing--header"><%= writing["writingHeader"] %></p>
          <p class="writing--content"><%= writing["writingContent"] %></p>
        </div>
      </div>
    </div>
      <div class="writing-actions">
        <a href="/writing-edit/" id="<%= writing["id"] %>" class="writing--edit dynamicLink">Edit</a>
        <a href="/writing-delete/" id="<%= writing["id"] %>" class="writing--delete dynamicLink">Delete</a>
      </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
        var dynamicLinks = document.querySelectorAll('.dynamicLink');
    
        dynamicLinks.forEach(function(dynamicLink) {
            dynamicLink.addEventListener('click', function(event) {
                var linkId = dynamicLink.id.trim().toLowerCase();
    
                var modifiedHref = dynamicLink.href + linkId;
    
                window.location.href = modifiedHref;
    
                event.preventDefault();
            });
        });
    });
    </script>
</body>
</html>
